body,
h1,
h2,
h3,
p,
input,
textarea {
    color: #636363;
}

h2 {
    font-weight: 100;
}


/* 
START OF GENERAL RULES
*/

.section-header {
    margin-top: 30px;
    color: #fff;
    font-weight: 200;
    font-size: 36px;
}

.grey {
    color: #929495;
}


@media screen and (min-width: 1200px) {
    #categories {
        height: calc(100vh - 65px) !important;
    }
}

.category-container {
    height: inherit;
}

/* #goods {
    min-height: calc(85vh - 65px) !important;
} */

/* #contact {
    min-height: calc(60vh - 65px) !important;
} */

#testimonials {
    min-height: calc(70vh - 65px) !important;
}


/* 
END OF GENERAL RULES
*/


/************** 
NAVBAR
**************/

nav {
    min-height: 65px;
    position: absolute;
}

.brand-wrapper {
    width: 300px;
}

.navbar-brand {
    margin-left: -150px;
    -webkit-animation: brand-appear forwards;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
    animation: brand-appear forwards;
    animation-delay: 0.5s;
    animation-duration: 1.5s
}



.nav-item .nav-link {
    font-weight: 500;
    margin: 0 10px;
}

.nav-item .nav-link-btn {
    border: 1px solid transparent;
    border-radius: 2rem;
    width: 150px;
    background-color: #fff;
    color: black !important;
    font-weight: bold;
}

.nav-item.active {
    color: #CBA77D;
}

.nav-contacts {
    margin-right: 90px;
}

.navbar-social-icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.navbar-social-icons__item {
    margin: 0 10px;
}

.navbar-phone {
    margin: auto 0;
}

.navbar-dropdown {
    margin-left: 30px;
}

@-webkit-keyframes brand-appear {
    100% {
        margin-left: 120px;
    }
}

@keyframes brand-appear {
    100% {
        margin-left: 120px;
    }
}

@-webkit-keyframes brand-appear-sm {
    100% {
        margin-left: 20px;
    }
}

@keyframes brand-appear-sm {
    100% {
        margin-left: 20px;
    }
}


/************** 
HEADER
**************/

section#home {
    /* background-image: linear-gradient(90deg, rgba(3, 3, 3, 0.95) 0%,
  rgba(5, 5, 5, 0.884091) 14.36%,
  rgba(16, 15, 14, 0.86) 40.33%,
  rgba(38, 34, 30, 0.75) 100%);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
    height: calc(100vh - 65px);
    overflow: hidden;
    position: relative;
    /* uncomment z-index here and #videoBackground */
    /* z-index: -5; */
}

#home::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(270deg, rgba(3, 3, 3, 0.95) 0%, rgba(7, 7, 8, 0.922693) 28.18%, rgba(11, 12, 16, 0.884089) 44.2%, rgba(15, 16, 22, 0.854803) 64.09%, rgba(20, 23, 31, 0.810354) 74.8%, rgba(38, 34, 30, 0.7125) 100%);
    transform: rotate(-180deg);
    z-index: -1;
    opacity: 0.7;
}

#video-background {
    /*  making the video fullscreen  */
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: scale(1.35);
}

.jumbotron {
    background: none !important;
}

@-webkit-keyframes slide {
    50% {
        left: -98px;
    }
    75% {
        left: -78px;
        top: -10px;
        transform: rotate(0deg);
    }
    100% {
        left: -78px;
        top: 15px;
        transform: rotate(4deg);
    }
}

@keyframes slide {
    50% {
        left: -98px;
    }
    75% {
        left: -78px;
        top: -10px;
        transform: rotate(0deg);
    }
    100% {
        left: -78px;
        top: 15px;
        transform: rotate(4deg);
    }
}

.header-content__wrapper {
    position: relative;
    overflow: hidden;
    /* height: 928px; */
    padding: 50px;
}

.header-content .lead {
    margin: 60px 0;
}

.header-text {
    font-size: 5rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.1;
}

.header-text span {
    color: #CBA77D;
}

.header-description {
    font-size: 22px;
    color: #fff;
    width: 850px;
    margin-bottom: 2rem;
}

.header-content__btn {
    border: none;
    border-radius: 30px;
    background-color: #fff;
    padding: 15px 35px;
    font-weight: bold;
    z-index: 50;
    position: relative;
    cursor: pointer;
}

.watermark-wrapper {
    margin: auto;
    /* margin-top: 50px; */
    width: 70%;
}

.categories-watermark {
    width: 85%;
    margin-top: 20px;
}

.watermark-wrapper img {
    width: 100%;
    /* filter: brightness(2); */
}

.header-watermark {
    margin-top: 100px;
}


/************** 
ADVANTAGES
**************/

section#advantages {
    height: unset !important;
}

#advantages .container {
    padding-top: 65px;
}

.advantages-wrapper {
    padding: 80px 0;
    width: 100%;
    margin: 0 auto;
}


/* .advantages-item {
    width: 230px;
    height: 200px;
} */

.advantages-item__image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.advantages-item__image {
    height: 100px;
    margin: 15px auto;
}

.advantages-item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages-item__header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.advantages-item__description {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


/************** 
GOODS
**************/

#goods,
#howto,
#advantage,
#about,
#testimonials {
    padding-top: 65px;
}

.main-wrapper {
    position: relative;
    /* background-image: linear-gradient(
                      270deg, rgba(22, 25, 34, 0.85) 0%, 
                      rgba(22, 25, 34, 0.5185) 49.72%, 
                      rgba(22, 25, 34, 0.595) 100%, 
                      rgba(22, 25, 34, 0.595) 100%, 
                      rgba(22, 25, 34, 0.85) 100%
                    ),
                    url('/assets/images/most-popular.jpg');
  background-size: cover; */
    height: inherit;
    overflow: hidden;
}

.parallax::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( 270deg, rgba(22, 25, 34, 0.85) 0%, rgba(22, 25, 34, 0.5185) 49.72%, rgba(22, 25, 34, 0.595) 100%, rgba(22, 25, 34, 0.595) 100%, rgba(22, 25, 34, 0.85) 100%), url('../assets/images/most-popular.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    /* overflow: hidden;  */
}

.goods-container {
    margin: 0 5%;
}

.goods-wrapper {
    padding: 30px;
    /* margin: 0 240px; */
}

.goods-header {
    position: relative;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
}

.carousel-item .goods-item {
    width: 70%;
    /* only for ~900px */
}

.goods-item {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.goods-item__text {
    width: 55%;
}

.goods-desc p {
    text-indent: 10px;
    margin-bottom: 0;
}

.goods-item__free {
    color: #CBA77D;
}

.carousel-item .goods-item__image {
    width: 90%;
}

.carousel-control-next {
    right: 45px;
    top: 25px;
    height: 275px;
    width: 40px;
}

.carousel-control-prev {
    left: 45px;
    top: 25px;
    
    height: 275px;
    width: 40px;
}

.carousel-control-prev:active,
.carousel-control-next:active {
    background-color: #252525;
    opacity: 0.7;
}

.goods-item__image {
    max-height: 300px;
    padding-bottom: 10px;
}

.carousel-item .goods-item__price {
    margin-left: 25px;
}

.goods-item__price {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.goods-item__price span {
    color: #DFDFDF;
    font-weight: 200;
    text-decoration: line-through;
}

.goods-item__description {
    color: #CBA77D;
}


/************** 
advantage
**************/

#howto .container {
    margin-bottom: 100px;
}

.watermark {
    display: block;
    margin: 40px auto;
}

.howto-header {
    color: #929495;
    font-weight: 200;
    margin-bottom: 50px;
    margin-top: 0;

}

.howto-wrapper {
    /* padding: 0 100px; */
    margin: 0 auto;
    justify-content: space-between;
}

.howto-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.howto-item__header {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    height: 3rem;
}

.howto-item__list {
    text-align: left;
}


/************** 
CATEGORY
**************/

#categories {
    padding-top: 65px;
}

.category-container {
    position: relative;
    /* background-image: linear-gradient(
                      270deg, rgba(22, 25, 34, 0.85) 0%, 
                      rgba(22, 25, 34, 0.5185) 49.72%, 
                      rgba(22, 25, 34, 0.595) 100%, 
                      rgba(22, 25, 34, 0.595) 100%, 
                      rgba(22, 25, 34, 0.85) 100%
                    ),
                    url('/assets/images/most-popular.jpg');
  background-size: cover; */
    overflow: hidden;
}

.category-parallax::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-image: linear-gradient( 270deg, rgba(22, 25, 34, 0.85) 0%, rgba(22, 25, 34, 0.5185) 49.72%, rgba(22, 25, 34, 0.595) 100%, rgba(22, 25, 34, 0.595) 100%, rgba(22, 25, 34, 0.85) 100%), url('../assets/images/category-background.jpg'); */
    background-image: linear-gradient(270deg, rgba(3, 3, 3, 0.95) 0, rgba(7, 7, 8, 0.922693) 28.18%, rgba(11, 12, 16, 0.884089) 44.2%, rgba(15, 16, 22, 0.854803) 64.09%, rgba(20, 23, 31, 0.810354) 74.8%, rgba(38, 34, 30, 0.717237) 95.32%, rgba(22, 25, 34, 0.665) 100%, rgba(0, 0, 0, 0.95) 100%), url('../assets/images/category-background.jpg');
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* background-size: cover; */
    background-attachment: fixed;
    z-index: -1;
    /* overflow: hidden;  */
}

.category-black-suqare:before {
    content: "";
    position: absolute;
    width: 1206px;
    height: 984px;
    left: -30px;
    top: -50px;
    background: rgba(0, 0, 0, 0.6);
    transform: rotate(4deg);
}

.category-wrapper {
    padding: 30px;
}

.category-header {
    position: relative;
    color: #fff;
    /* padding: 10px; */
}

.category-desc p {
    margin: 0;
}

.category-item__name,
.goods-item__name {
    color: #fff;
    margin-top: 5px !important;
    font-size: 2rem;
    font-weight: 200;
}

.category-item__price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.category-item__free {
    color: #CBA77D;
}

.category-filter-wrapper {
    margin: 0 10px;
}

.category-filter-wrapper .dropdown-menu {
    width: 250px
}

.dropdown-menu.inner.show li a:hover {
    background-color: #CBA77D !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #CBA77D !important;
}

.category-filter-button {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-indent: 15px;
}


/* dropdown filter */

.category-filter-wrapper.dropdown:hover>.dropdown-menu {
    display: block;
}

.category-filter-wrapper.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    margin-right: 10px;
}

#womanFilterContainer,
#manFilterContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
}

#womanFilterContainer .btn.active,
#manFilterContainer .btn.active {
    background-color: #CBA77D;
}


/*********
TESTIMONIALS
************/

#testimonials .container-fluid {
    margin-top: 90px;
}

.testimonials-wrapper {
    margin: 60px 0;
}

.testimonials-item__header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.testimonials-item__content {
    padding: 10px;
}

.testimonials-user {
    line-height: 1;
}

.testimonials-user__name {
    font-size: 1.1rem;
    /* padding: 0 10px; */
}

.testimonials-user__role {
    font-size: 1rem;
    /* font-style: italic; */
    color: #CBA77D;
}

.testimonials-user__comment {
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
}


/************** 
aboutS
**************/

#contact {
    padding-top: 65px;
}

.contact-container {
    position: relative;
    /* background-image: linear-gradient(
                      270deg, rgba(22, 25, 34, 0.85) 0%, 
                      rgba(22, 25, 34, 0.5185) 49.72%, 
                      rgba(22, 25, 34, 0.595) 100%, 
                      rgba(22, 25, 34, 0.595) 100%, 
                      rgba(22, 25, 34, 0.85) 100%
                    ),
                    url('/assets/images/most-popular.jpg');
  background-size: cover; */
    height: inherit;
    overflow: hidden;
}

.contact-parallax::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(270deg, rgba(3, 3, 3, 0.95) 0, rgba(7, 7, 8, 0.922693) 28.18%, rgba(11, 12, 16, 0.884089) 44.2%, rgba(15, 16, 22, 0.854803) 64.09%, rgba(20, 23, 31, 0.810354) 74.8%, rgba(38, 34, 30, 0.717237) 95.32%, rgba(22, 25, 34, 0.665) 100%, rgba(0, 0, 0, 0.95) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* background-size: cover; */
    background-attachment: fixed;
    z-index: -1;
}

.contact-black-suqare:before {
    content: "";
    position: absolute;
    width: 1206px;
    height: 984px;
    left: -30px;
    top: -50px;
    background: rgba(0, 0, 0, 0.6);
    transform: rotate(4deg);
}

.contact-wrapper {
    padding: 30px;
    height: 100%;
}

.contact-header {
    position: relative;
    color: #fff;
    /* padding: 10px; */
}

.contact-items--container {
    margin-top: 50px;
    margin-bottom: 80px;
}

.contact-item {
    color: #fff;
}

.contact-item__wrapper {
    background-color: #000;
    border-radius: 2rem;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 140px;
}

.contact-item__content {
    margin: 0 10px;
}

.contact-item__info,
.contact-item__info a {
    color: #CBA77D;
}


/* back to top button*/

#toTop {
    height: 70px;
    width: 70px;
    background: #CBA77D;
    border: none;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 35px;
    display: none;
    outline: none;
}

#toTop i {
    font-size: 32px;
}


/* 
FOOTER
*/

footer {
    background-color: #010101;
}

.footer-text {
    color: #8e8c8c;
    margin: 0;
}


/** SLIDER ****/

.MS-controls {
    margin: 0 100px 40px 0;
}

.MS-left,
.MS-right {
    height: 50px;
    width: 50px;
    background: #CBA77D;
    border: none;
    border-radius: 50%;
    color: #fff;
    outline: none !important;
    margin: 0 5px;
}

.exampleSlider .item {
    width: 25%;
}

#mixedSlider {
    position: relative;
    margin: 70px 0;
    margin-top: 30px;
    justify-content: flex-end;
}

#mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
}

#mixedSlider .MS-content .item {
    display: inline-block;
    width: 25%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
}

#mixedSlider .MS-content .item .imgTitle {
    position: relative;
}

#mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
}

#mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    max-height: 300px;
    height: 300px;
    width: 100%;
}

#mixedSlider .MS-content .item p {
    /* font-size: 16px;
    margin: 2px 10px 0 5px; */
    text-indent: 10px;
}

#mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
}

#mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
}

.filter-item {
    display: none !important;
}

.show {
    display: inline-block !important;
}


.close-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.modal-header {
    justify-content: center;
    border: none;
}

.modal-title {
    text-transform: uppercase;
}

#categoryModal .modal,
#formModal .modal {
    padding: 0 15px !important;
    position: relative;
}

#categoryModal .modal-dialog,
#formModal .modal-dialog {
    max-width: unset;
    width: 100%;
    height: calc(100vh - 65px);
    margin: 0;
    margin-top: 30px;
    padding: 0;
    position: relative;
}

#categoryModal .modal-content,
#formModal .modal-content {
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    /* border-radius: 1.5rem; */
}

#formModal #loaderDiv {
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    display: none;
    z-index: 999;
    color: #CBA77D;
}

#formModal .loader-wrapper {
    position: absolute;position: absolute;
    /* height: calc(100vh - 25px); */
    /* width: calc(100vw - 30px); */
    display: none;

    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 2;
}

#categoryModal .category-modal--btn {
    margin-top: 50px;
    width: 300px;
    height: 60px;
    border-radius: 2rem;
    background-color: #CBA77D;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0.5rem;
    border: none;
}

.modal-footer--wrapper {
    width: 600px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#formModal .modal-body {
    padding: 0 1rem;
}

.modal-footer--content {
    padding: 15px 5px;
}

.modal-footer--content__text {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

#categoryModal .rows {
    padding-bottom: 10px;
}


/* Style the images inside the grid */

#categoryModal .rows img {
    opacity: 0.8;
    cursor: pointer;
    width: 120px;
    height: 80px;
}

#categoryModal .column img:hover {
    opacity: 1;
}

.category-modal-body {
    display: flex;
    flex-direction: row;
}

.category-modal--wrapper {
    display: flex;
    flex-direction: row;
    max-width: 50%;
}

.filter-item--description {
    display: none;
}

.category-modal-body .filter-item--description {
    display: block;
}

.category-modal-body .item-description--price {
    font-weight: bold;
    font-size: 2rem;
    color: #CBA77D;
}


.directorySlider {
    padding: 10px;
}
/* Clear floats after the columns */

#categoryModal .directorySlider:after {
    content: "";
    display: table;
    clear: both;
}

.main-image-container {
    width: 80%;
    padding: 10px;
}


/* The expanding image container */

#categoryModal .container {
    position: relative;
    display: none;
}

.modal-header .close {
    padding: 1rem 1.5rem;
}

.form-input[type=number]::-webkit-inner-spin-button,
.form-input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.select-img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    margin-left: -15px;
}

.inner.show {
    width: 100%;
}
#expandedImg {
    max-height: 800px;
}
.send-form .dropdown-menu.show {
    transform: none !important;
    top: 75px !important;
    height: 600px !important;
    width: 450px;
    overflow: auto;
}

@media (max-width: 1366px) {
    #mixedSlider .MS-content .item {
        width: 33.333333%;
    }
}

@media screen and (max-width: 1201px) {
    #categoryModal .modal-dialog,
    #formModal .modal-dialog {
        height: unset !important;
    }
}

@media screen and (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }

    .jumbotron {
        padding: 0;
    }
    
    .header-text {
        font-size: 3.2rem;
    }

    .carousel-item .goods-item__image {
        width: 70%;
    }

    .howto-item__header {
        height: 1.5rem;
        margin: 10px 0;
    }

    .goods-desc {
        margin-left: 70px;
        padding: 0 25px;
    }

    .carousel-item .goods-item__price {
        margin: 3px 0;
    }

    .goods-header {
        margin-bottom: 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        height: 175px;
        top: 85px;
    }
    
    .category-modal-body {
        display: flex;
        flex-direction: column;
    }
    .category-modal--wrapper {
        max-width: 60%;
    }

    #categoryModal .category-modal--btn {
        margin-top: 0;
    }
}


/* |TODO: ORDER FORM FOR 768 AND SMALLER 
FIXME: FIX POSITIONING FOR CATEGORY MODAL FOR 768 AND SMALLER
TODO: ALL!!!! IMAGES ON 1200 AND SMALLER */
@media (max-width: 768px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }

    .send-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .send-form .row {
        width: 350px;
    }

    .send-form label {
        display: none;
    }
    .form-group {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
    }

    .form-input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #a2a2a1;
        outline: none;
    }

    .form-select {
        /* height: 50px; */
        width: 100% !important;
        border-bottom: 1px solid #c5c5c5;
    }

    .filter-option-inner-inner {
        display: flex;
        justify-content: flex-start;
    }

    .filter-option-inner-inner img {
        margin: 0 5px;
    }

    .btn-toggler {
        background-color: #CBA77D;
        /* border-bottom: 1px solid #CBA77D; */
    }
    
    .btn-toggler[title='-'] {
        background-color: #fff;
        /* border-bottom: 1px solid #c5c5c5; */
        color: #fff;
    }
    
    .btn-toggler::after {
        color: #636363;
    }

    .form-submit {
        width: 260px;
        height: 50px;
        border-radius: 2rem;
        background-color: #CBA77D;
        border: none;
        color: #fff;
        font-weight: bold;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        margin-bottom: 0;
    }

    #mixedSlider .MS-content .item .imgTitle img {
        max-height: 400px;
        height: 400px;
    }
    
    .category-modal--wrapper {
        max-width: 90%;
    }

    .send-form .dropdown-menu.show {
        top: 40px !important;
        width: 320px !important;
        min-width: 300px !important;
    }

    .carousel-item .goods-item__image {
        max-height: unset;
        width: 90%;
    }
}

@media screen and (max-width: 568px) {
    .category-filter-button {
        width: 150px;
    }

    .MS-controls {
        margin: 15px auto;
    }

    .contact-item__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contact-item__icon {
        margin-bottom: 10px;
    }

    #loaderDiv {
        position: absolute;
        top: 50% !important;
        left: 45% !important;
        transform: translate(-50%,-50%);
    }
}

@media screen and (max-width: 479px) {
    #categoryModal .modal-dialog, #formModal .modal-dialog {
        margin-top: 0;
    }
    #formModal .modal-header {
        padding-bottom: 0;
    }
    .header-content__wrapper {
        padding: 20px;
    }
    .header-description {
        width: 300px;
    }
    .header-content .lead {
        margin: 20px 0;
    }
    .carousel-item .goods-item {
        width: 100%;
    }

    .goods-desc {
        margin-left: 0;
    }

    #mixedSlider {
        margin: 0;
    }

    #mixedSlider .MS-content {
        margin: 0;
    }

    #mixedSlider .MS-content .item .imgTitle img {
        height: 100%;
    }

    .main-image-container {
        width: 100%;
        padding: 0;
    }

    .directorySlider {
        display: none;
    }

    #womanFilterContainer, #manFilterContainer {
        width: 100%;
    }

    .category-filter-wrapper {
        margin: 0 5px;
    }

    #mixedSlider .MS-content .item p {
        text-indent: 0;
    }

    .category-filter-wrapper .dropdown-menu {
        width: 200px;
    }

    .category-filter-wrapper  #dropdownWomanMenuButton + .dropdown-menu {
        left: -20px;
    }

    .contact-item__content  {
        text-align: center;
    }

    .form-group-submit {
        margin-bottom: 0;
    }
    .bootstrap-select .dropdown-menu li a span.text {
        display: flex !important;
    }

    .modal-title  {
        font-size: 1.2rem;
    }
    .goods-desc {
        padding: 0;
    }
    
    .carousel-item .goods-item__image {
        width: 100%;
    }
    p.goods-item__free {
        font-size: 1rem;
    }
    .goods-item__name,
    .goods-item__price {
        text-indent: 0;
        font-size: 1.4rem;
    }
    .category-item__name,
    .goods-item__name {
        font-size: 1.4rem;
    }

    #testimonials .container-fluid,
    .testimonials-wrapper {
        margin-top: 25px;
    }

    
}

@media screen and (max-width: 414px) {
    p.goods-item__free {
        font-size: 1.1rem;
    }
    .goods-item__name,
    .goods-item__price {
        text-indent: 0;
        font-size: 1.6rem;
    }
    .category-item__name,
    .goods-item__name {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 320px) {
    .header-content {
        margin-top: 40px;
    }

    .goods-desc {
        padding: 0;
    }
    
    .carousel-item .goods-item__image {
        width: 100%;
    }
    p.goods-item__free {
        font-size: 1rem;
    }
    .goods-item__name,
    .goods-item__price {
        text-indent: 0;
        font-size: 1.4rem;
    }
    .header-text {
        font-size: 2rem;
        width: 250px;
    }

    .category-filter-button {
        width: 130px;
        text-indent: 10px;
        font-size: 14px;
    }

    .category-filter-wrapper {
        margin: 0 5px;
    }

    .howto-item {
        margin-bottom: 20px;
    }

    .howto-item__header {
        height: auto;
    }
    
    .header-description {
        width: 250px;
        font-size: 1.2rem;
    }

    .header-content__wrapper {
        padding: 5px
    }

    .header-content .lead {
        margin: 10px 0 35px;
    }

    .header-content .container {
        margin-left: 10px;
    }

    .carousel-item .goods-item {
        width: 100%;
    }
    
    .goods-item {
        padding: 2px;
    }

    .carousel-control-next {
        right: 5px;
        top: 25px;
        height: 175px;
        width: 40px;
    }

    .carousel-control-prev {
        left: 5px;
        top: 25px;
        height: 175px;
        width: 40px;
    }
    
    #mixedSlider {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 30px;
    }

    .category-wrapper .container-fluid {
        padding: 0 !important;
    }

    #mixedSlider .MS-content .item .imgTitle img {
        height: auto;
        max-height: 300px;
        width: 100%;
    }

    #mixedSlider .MS-content {
        margin: 0;
    }
    .category-item__name {
        font-size: 1.6rem;
    }

    .category-filter-wrapper .dropdown-menu {
        width: 50px;
    }

    #womanFilterContainer, #manFilterContainer {
        width: 160px;
        align-items: flex-start;
    }
    #womanFilterContainer button,
    #manFilterContainer button {
        width: 100%;
    }

    #toTop {
        height: 40px;
        width: 40px;
        background: #CBA77D;
        border: none;
        border-radius: 50%;
        color: #fff;
        position: fixed;
        bottom: 40px;
        right: 15px;
        display: none;
        outline: none;
    }
    
    #toTop i {
        font-size: 22px;
    }

    .contact-item__content  {
        text-align: center;
    }

    .testimonials-user__comment {
        margin-top: 10px;
    }
    
    #testimonials .container-fluid {
        margin-top: 30px;
    }

    .header-content__btn {
        padding: 12px 25px;
        font-size: 1rem;
    }

    #categoryModal .category-modal--btn {
        width: 250px;
        height: 50px;
    }

    .category-modal--btn__wrapper {
        justify-content: flex-start !important;
    }

    .send-form .row {
        width: 260px;
    }

    #formModal,
    #categoryModal {
        padding-right: 0 !important;
    }

    #categoryModal .modal-dialog, #formModal .modal-dialog {
        margin-top: 0;
    }

    #formModal .modal-body {
        padding: 0 1rem;
    }

    #formModal .modal-title {
        font-size: 1.1rem;
    }

    #formModal .modal-header {
        padding-bottom: 0;
    }
    
    #formModal .modal-header .close {
        margin-top: -20px;
    }

    #formModal .form-group {
        margin-bottom: 1rem;
    }

    #formModal .form-group-submit {
        margin-bottom: 0;
    }

    .form-submit {
        height: 35px;
    }

    .btn-toggler {
        height: 65px;
    }

    .send-form .dropdown-menu.show {
        top: 60px !important;
        width: 230px !important;
        min-width: 220px !important;
    }

    .send-form .dropdown-menu.inner.show li span.text {
        display: flex;
    }

    .modal-footer--wrapper span {
        font-size: 0.9rem;
    }

    .modal-footer--content__text {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .nav-item .nav-link {
        font-weight: 500;
        margin: 0 5px;
    }
    .header-text {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-description {
        font-size: 1.1rem;
        color: #fff;
        width: auto;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 991px) {
    header {
        background-image: linear-gradient( 270deg, rgba(22, 25, 34, 0.85) 0%, rgba(22, 25, 34, 0.5185) 49.72%, rgba(22, 25, 34, 0.595) 100%, rgba(22, 25, 34, 0.595) 100%, rgba(22, 25, 34, 0.85) 100%), url('../assets/images/background.jpg');
        z-index: -5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: calc(100vh - 65px);
        /* overflow: hidden; */
        /* position: relative; */
    }
    .watermark-wrapper {
        display: none;
    }
    .brand-wrapper {
        width: 100px;
    }
    .navbar-brand {
        -webkit-animation: brand-appear-sm forwards;
        -webkit-animation-delay: 0.5s;
        -webkit-animation-duration: 1.5s;
        animation: brand-appear-sm forwards;
        animation-delay: 0.5s;
        animation-duration: 1.5s
    }

    .category-modal--btn__wrapper {
        justify-content: center !important;
    }
}

@media only screen and (max-width: 1200px) {
    #home {
        background-image: linear-gradient( 270deg, rgba(22, 25, 34, 0.85) 0%,
        rgba(22, 25, 34, 0.5185) 49.72%,
        rgba(22, 25, 34, 0.595) 100%,
        rgba(22, 25, 34, 0.595) 100%,
        rgba(22, 25, 34, 0.85) 100%),
        url('../assets/images/category-background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}


/* MATERIAL LIKE INPUTS */

@media screen and (min-width: 769px) {
    .send-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px;
        /* margin-top: 10px; */
    }
    
    .form-group {
        position: relative;
        margin-bottom: 45px;
    }
    
    .form-group-submit {
        margin-bottom: 10px;
    }
    
    .select-group-true {
        margin-bottom: 60px;
    }
    
    .form-submit {
        width: 450px;
        height: 60px;
        border-radius: 2rem;
        background-color: #CBA77D;
        border: none;
        color: #fff;
        font-weight: bold;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    }
    
    .form-input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 450px;
        border: none;
        border-bottom: 1px solid #c5c5c5;
    }
    
    /* .form-input.form-input-number {
        width: 250px;
    } */
    
    .form-input:focus {
        outline: none;
    }
    
    .form-select {
        height: 50px;
        width: 450px !important;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .form-select-default-option {
        opacity: 0;
    }
    
    .form-select--option.dropdown-item .text,
    .filter-option-inner-inner {
        display: flex !important;
        justify-content: flex-start;
    }
    
    .btn-toggler {
        background-color: #CBA77D;
        /* border-bottom: 1px solid #CBA77D; */
    }
    
    .btn-toggler[title='-'] {
        background-color: #fff;
        /* border-bottom: 1px solid #c5c5c5; */
        color: #fff;
    }
    
    .btn-toggler::after {
        color: #636363;
    }
    
    .form-select .dropdown-item {
        padding-right: 0 !important;
    }
    
    .select-img {
        margin-right: 10px;
    }
    
    .form-price {
        font-weight: bold;
    }
    
    
    /* LABEL ======================================= */
    
    .form-select.show~.form-label,
    .form-label.activated {
        top: -20px;
        font-size: 14px;
        color: #CBA77D;
    }
    
    .dropdown-toggle~.form-label {
        top: -20px !important;
        font-size: 14px !important;
        color: #CBA77D !important;
    }
    
    .form-label,
    .dropdown-toggle[title='-']~.form-label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 15px;
        top: 10px;
        width: 300px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    
    
    
    .form-input[type=number] {
        -moz-appearance: textfield;
    }
    
    
    /* active state */
    
    .form-input:focus~.form-label,
    .form-input:valid~.form-label {
        top: -20px;
        font-size: 14px;
        color: #CBA77D;
    }
    
    .form-input-email:not(:empty):invalid~.form-label {
        top: -20px;
        font-size: 14px;
        color: red;
    }
    
    .form-input-email:not([value=""]):not(:focus):not(:valid)~.form-label {
        top: -20px;
        font-size: 14px;
        color: red;
    }

    .bar {
        position: relative;
        display: block;
        width: 450px;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #CBA77D;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }


    /* active state */

    .form-input:focus~.bar:before,
    .form-input:focus~.bar:after {
        width: 50%;
    }
    /* HIGHLIGHTER ================================== */

    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    ::-webkit-input-placeholder{
        visibility: hidden;
    }
    ::-moz-placeholder{
        visibility: hidden;
    }
    :-ms-input-placeholder{
        visibility: hidden;
    }
    :-moz-placeholder {
        visibility: hidden;
    }
    /* active state */

    .form-input:focus~.highlight,
    .form-input:active~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
}
@media only screen and (max-width: 1520px) {
    .form-input-email:not([value=""]):not(:focus):not(:valid)~.form-label::before {
        content: "Неправильні дані";
        position: absolute;
        bottom: -70px;
        font-size: 14px;
        color: red;
    }
}


/* BOTTOM BARS ================================= */


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #CBA77D;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #CBA77D;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #CBA77D;
    }
    to {
        width: 0;
        background: transparent;
    }
}




.ui-loading .ui-loader { display: block; }
.ui-loader, .ui-selectmenu-button-text { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }
